/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap");

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr1: #222020;
  --clr2: #fff9f9;
  --clr3: #00B96D;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --clr1: #fff9f9;
    --clr2: #222020;
    --clr3: #00B96D;
  }
} */

/* TypeScale */

html {
  font-size: 25px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 4.21em;
}

h2,
.text-size-h2 {
  font-size: 3.16em;
}

h3,
.text-size-h3 {
  font-size: 2.37em;
}

h4,
.text-size-h4 {
  font-size: 1.78em;
}

h5,
.text-size-h5 {
  font-size: 1.33em;
}

.text-caption {
  font-size: 0.75em;
}

small,
.text-small {
  font-size: 0.56em;
}

/* Base */
body {
  background: var(--clr2);
  color: var(--clr1);
}

.container {
  margin: 0 30px;
}

section {
  margin-bottom: 100px;
}

a {
  color: var(--clr1);
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

/* Main */
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
  height: 100vh;
  align-items: center;
}

.hero-image {
  position: relative;
}

.hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--clr1);
  background: transparent;
  transform: translate(10px, 3px);
  z-index: -1;
}

.highlight{
    background-color: var(--clr3);
    border-radius: 25px 5px 50px 2px;
    display: inline-block;
}

/* About */

.about h1{
  text-align: center;
}

/* Skills */

.skills{
  display: flex;
  flex-direction: column;
}

.skills h1{
  text-align: center;
}

.skills-logo{
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills-logo p{
  text-align: center;
}
